a {
  font-family: "DM Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 73, 201);
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 3em;
}

a:hover {
  color: rgb(159, 15, 255);
}

.repos-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;

  /* text-align: center; */
  /* max-width: 70%; */
}
