html {
  background-image: url("/bg.jpg");
}

.title {
  font-family: "DM Mono", monospace;
  font-size: 26px;
  font-style: italic;
  color: rgb(255, 0, 149);
  display: block;
  text-align: center;
  padding-top: 40px;
}
